<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/style.css"/>
</head>
<body>
    <h1>{{title}}</h1>
    <p>This is the About page where you can describe your app, its features, or anything else you want the user.</p>
    <a href="/">Go back to the homepage</a>
</body>
</html>


