<!--index.handlebars-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../public/css/style.css"/>
    </head>
    <body>
        <h1 class="text-center mb-3">
        {{title}} </h1>

<!-- Form to add a new member -->
<form action="/api/members" method="post" class="mb-4">
<div class="form-group">
    <label for="name">Name :</label> 
    <input type="text" name="name" class="form-control" required>
</div>
<br>
<div class="form-group">
    <label for="email">Email :</label>
    <input type="email" name="email" class="form-control" required>
</div>
<br>
<input type="submit" value="Add Member" class="btn btn-primary btn-block">

</form>

<script>
    function validateForm() {
        const name = document.forms["myForm"]["name"].value;
        const email = document.forms["myForm"]["email"].value;
        if (name == "" || email == "") {
            alert("Both name and email must be filled out");
            return false;
        }
    }
</script>

<h3>Members</h3>
{{!-- bootstrp--}}
<ul class="list-group">
    {{#each members}}
    <li class="list-group-item">{{this.name}}: {{this.email}}</li>
    {{/each}}
    </ul>

    <!-- button to visit the API-->
    <a href="/api/members" class="btn btn-light mt-4">Visit API</a>
    <!-- to visit about page-->
    <a href="/about">About</a>
</body>
</html>